{% extends "layout.html" %}

{% block content %}

<br>

    <h3>Peptide Length Distribution</h3>
    
    <div id="chart" class="chart"></div>

    <div class="custom-control custom-switch" style="text-align:right;">
        <input type="checkbox" class="custom-control-input" id="customSwitch1" onclick="myfunction()">
        <label class="custom-control-label" for="customSwitch1">Density/Frequency</label>
    </div>

<br>

    <p class="text-justify">The above histogram is the peptide length distribution of the the sample(s) uploded.
                            Contaminations and peptides with post translational modifications have been removed.
                            Finally, peptides with the length range from 1 to 30 have been selected. The error bars in case of replicates
                            represents the standard deviation of the number of specifc n-mers across replicates. The swith button at 
                            the top can be used to switch between percent or absolute distribution. The tool icons at the top right corner
                            can be used for more operations. 
    </p> 

<br>

    <h3>Peptide consensus binding motif analysis</h3>

<br>

    <div class="seqlogo">
    {% for sample, replicates in seqlogos.items() %}
        <h4>{{sample}}</h4>
        <div class="your-class">
        {% for replicate in replicates %}
            <img src="{{ url_for('static',filename='images/{0}/{1}/seqlogos/{2}'.format(taskId,sample,replicate), width=10)}}" alt="">                
        {%endfor%}
        </div>
    {% endfor %}
    </div>

<br>

    <p class="text-justify">Above are the sequence logos for each replicate(if any) of all samples given. For generating these sequence logos, the local
        version Seq2Logo has been used. Kullback-Leibler method has been used to generate the logos.
    </p> 

<br>

    <h3>Peptide sequence analysis</h3>

<br>

    <div class="seqlogo">
        {% for sample, replicates in gibbsImages.items() %}
            <h4>{{sample}}</h4>
            {% for replicate, gibbs in replicates.items() %}
                <h5>{{replicate}}</h5>
                {% for bar_plot,clusters  in gibbs.items() %}
                    <div class="your-class">
                    <img src="{{ url_for('static',filename='images/{0}/{1}/gibbscluster/{2}/images/{3}'.format(taskId,sample,replicate,bar_plot), width=10)}}" alt="">                
                    {% for cluster  in clusters %}
                        <img src="{{ url_for('static',filename='images/{0}/{1}/gibbscluster/{2}/logos/{3}'.format(taskId,sample,replicate,cluster), width=10)}}" alt="">                
                    {%endfor%}
                    </div>
                {%endfor%}
            {%endfor%}
        {% endfor %}
    </div>

<br>

    <p class="text-justify">Above are the sequence logos for each replicate(if any) of all samples given. For generating these sequence logos, the local
        version Seq2Logo has been used. Kullback-Leibler method has been used to generate the logos.
    </p> 

<br>

    <h3>Peptide-HLA binding affinity prediction</h3>

    <div>
        {% for predictionTool  in predictionTools %}
            {{predictionTool}}
            <br>
            {% for sample, replicates in data.items() %}
                {% for replicate in replicates %}
                    {{sample, replicate}}
                {%endfor%}
            {%endfor%}
        {%endfor%}
    </div>
<br>

    


    <!-- <iframe frameborder='0' noresize='noresize' style='position: absolute; background: transparent; width: 100%; height:100%;' src="{{ iframe }}" frameborder="0"></iframe>
    <h3 ><a href="/">Stumble</a></h3> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
 
    <script type="text/javascript">
        
        
        var graphs = {{peptide_percent | safe}};
        var graphsd = {{peptide_density | safe}};
        
        Plotly.plot('chart',graphs,{});        

        function myfunction(){
            checkbox = document.getElementById('customSwitch1');

        if(checkbox.checked){
            Plotly.newPlot('chart',graphsd,{});                    
        }
        else{
            Plotly.newPlot('chart',graphs,{});                    
        }
        }

        $(document).ready(function(){
        $('.your-class').slick({
            dots: true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1
            });
        });
    </script>
{% endblock %}
