{% extends "layout.html" %}

{% block content %}

<p>
    <ul class="list-group">
        <li class="list-group-item">
            <p>
                <h4>Initialiser module</h4>
            </p>
            <img style="max-height:100%; max-width:100%;" src="static/others/initialiser.PNG" alt="">
        </li>
        <li class="list-group-item">
            <p>
                <h4>Peptide length distribution</h4>
            </p>
            <img style="max-height:100%; max-width:100%;" src="static/others/lengthdistribution.PNG" alt="">
        </li>
        <li class="list-group-item">
            <p>
                <h4>GibbsCluster preview pane</h4>
            </p>
            <img style="max-height:100%; max-width:100%;" src="static/others/gibbs.PNG" alt="">
        </li>
        <li class="list-group-item">
            <p>
                <h4>Upset plot preview pane.</h4>
                The upset plot is used in place of the traditional Venn diagram. Upset plot are very effective in showing the intersections of 3 or more groups. Each set corresponds to a sample uploaded by the user. In this screenshot, VMM1 and Inferon are the two samples uploaded.
            </p>
            <img style="max-height:100%; max-width:100%;" src="static/others/upset.PNG" alt="">
        </li>
    </ul>
</p>

{% endblock %}
