{% extends "layout.html" %}

{% block content %}
<br>
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to Immunolyser.</h1>

            <br>

            <div style="text-align:left;">
                <h2>What Is HTML All About?</h2> 
    
                <p>Immunolyser is a web-based automated computational pipeline for indepth analysis of immunopeptidomics data. Three major modules are designed for immunologists
                    to analyse and visualize their data. A user-friendly interface will be designed, and various data
                    visualization methods applied to ensure the high interpretability of the results. 

                </div>

        </div>
    </div>
    <br>
{% endblock %}
