{% extends "layout.html" %}

{% block content %}
<div class="container">
	<form name="login" action="" method="post" enctype="multipart/form-data" novalidate>
   <fieldset class="form-group">
     
	   {{ form.hidden_tag() }}       
	   
		   <p> {{ form.sample_one_name.label }}</br>
			   {{ form.sample_one_name }}
			   {% for error in form.sample_one_name.errors %}
				<span class="error-message">{{ error }}</span>
			   {% endfor %}
		   </p>
	   
		   <p> {{ form.sample_one.label }}</br>
			   {{ form.sample_one }}
			   {% for error in form.sample_one.errors %}
				<span class="error-message">{{ error }}</span>
			   {% endfor %}
		   </p>

		   <p> 	{{ form.sample_two_name.label }}</br>
				{{ form.sample_two_name }}
				{% for error in form.sample_two_name.errors %}
			 	<span class="error-message">{{ error }}</span>
				{% endfor %}
			</p>

		   	<p> {{ form.sample_two.label }}</br>
				{{ form.sample_two }}
				{% for error in form.sample_two.errors %}
				<span class="error-message">{{ error }}</span>
				{% endfor %}
			</p>

		   <p> 
			   {{ form.submit() }}
		   </p>
		   
   </fieldset>
   </form>
</div>
{% endblock %}
