{% extends "layout.html" %}

{% block content %}
<br>
<h3>Pepscanner</h3>
<!-- <img src="{{ url_for('pepscanner') }}"> -->
<div class="row" style="text-align: center; align-items: center;">
    <img id="pepscannerimage" src="static/others/blankpepscanner.png" alt="" style="display: inline-block; margin:0 auto; width:max-content; height: max-content;">
    

    <!-- <div style="  float:right; width:auto; padding-right: 20%; padding-top: 10%;"> -->
        
        <div class="card" style="width: 28rem; position: relative; margin-right: 40px;">
            <div class="card-body">
              <h5 class="card-title">File metadata</h5>
              <h6 class="card-subtitle mb-2 text-muted">Statistics of proteins found in the Accession column</h6>
              <br>
              <p class="card-text" style="text-align: left;" id="uniquepeptides">Unique proteins: </p>
            
              <table class="table" style="table-layout: initial; width: 100%; overflow-y: auto;">
                <thead style="display: block;">
                  <tr>
                    <th scope="col">Protein</th>
                    <th scope="col">Peptide count</th>
                    <th scope="col">Gene name</th>
                    <th scope="col">Species</th>
                  </tr>
                </thead>
                <tbody id="topprotiens" style="display: block;">
                  <!-- <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr> -->
                </tbody>
              </table>

              <!-- <div id='topprotiens'>

              </div> -->
            </div>
          </div>
    <!-- </div>  -->

</div>

<form onSubmit="return submitPep();" id="pepscanner" action="{{ url_for('pepscanner') }}" method="post" enctype="multipart/form-data" novalidate>
    <!-- <label for="sample" hidden>Peptide File</label>  -->
    <!-- <input id="file" name="file" required type="file" class="col-md-6 mb-3">	 -->

    <div style="padding-left: 18px;" class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="file" style="cursor: pointer;" name="file" required type="file">
          <label class="custom-file-label" for="inputGroupFile01" id="filename">Select the peptide File</label>
        </div>
        <i class="fa fa-question-circle" aria-hidden="true" style="cursor: pointer; padding-left: 10px; padding-top: 6px;" data-toggle="tooltip" data-placement="right" title="Please select an input csv file.&#013;The file should contain 'Peptide' and 'Accession' columns."></i>
    </div>

    <div style="padding-left: 18px;" class="input-group mb-3">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="background" style="cursor: pointer;" name="background" required type="file">
        <label class="custom-file-label" for="inputGroupFile01" id="background">Select the background fasta file (optional)</label>
      </div>
      <i class="fa fa-question-circle" aria-hidden="true" style="cursor: pointer; padding-left: 10px; padding-top: 6px;" data-toggle="tooltip" data-placement="right" title="Please select the background fasta file.&#013;This is the file you would download from UniProt as proteome from any species. If you don't upload this, the human proteome with proteins reviewed by UniProt (Swiss-Prot reviewed) will be used as the background."></i>
    </div>

<div class="col" style="padding-left: 18px;">
    <div style="display: flex; align-items: center;">
        <input type="text" class="form-control" id="proteinInput" placeholder="Type protein ID and press Enter" style="flex: 1; margin-right: 10px;">
        <button class="btn btn-primary" id="addProteinBtn">Add Protein ID</button>
    </div>
    <small class="form-text text-muted">Example: A0A024QYW1</small>
    <div class="mt-3" id="proteinList"></div>
    <div class="mt-3 text-danger" id="validationMessage"></div>
</div>


    <input style="float: right; margin-right: 20px;" id="submit" name="submit" type="submit" class="btn btn-outline-secondary" value="Submit">
            
</form>
<br>
<br>
<br>

    <p class="text-justify" style="padding-right: 20px;">Pepscanner is a tool which can be used to visualise the location of peptides present in the proteins of interest. It takes a csv (comma separated values) file as an input along with the proteins of interest (optional). The uploaded file should have 'Peptide' and 'Accession' columns present in it. Pepscanner first extracts the protein sequences from a reference proteome file and then plots the location of all the peptides (from the 'Peptide' column) on the selected proteins. If the proteins are not selected, top five proteins present in 'Accession' column are selected automatically. A demo output using the '1st_Exp_HPLC.csv' file in our demo datasets has been generated to demonstrate the usage of Pepscanner. It can be accessed by using <a id="myLink" action="{{ url_for('pepscanner') }}" href="#" onclick="return pepscannerDemo();">this link.</a>
    </p> 

    <br>

<script>

    document.getElementById('file').onchange = function () {
        var name = document.getElementById('filename');
        name.innerHTML = 'Selected file: ' + this.files[0].name;
    };

    function pepscannerDemo(){
      submitPep(demo=true);
    }

    function submitPep(demo = false){

        showSpinner();

        var form = new FormData();

        if(demo == false){
          filevalidation = validatePeptideFile();
          if(filevalidation==false){
            return false;
          }

          protiens = document.getElementById('proteinList').textContent;

          peptidevalidation = validatePeptides();
          if(peptidevalidation==false){
            return false;
          }

        fileInput = document.getElementById('file')
          // peptides = document.getElementById('peptides');

        form.append("file", fileInput.files[0], fileInput.value);
        form.append("peptides", protiens);
        }
        else {
          form.append("demo", true);
        }
        
        
        var settings = {
        "url": window.location.origin.concat('/api/pepscanner?t=') + new Date().getTime(),
        "method": "POST",
        "timeout": 0,
        "processData": false,
        "mimeType": "multipart/form-data",
        "contentType": false,
        "data": form
        };

        $.ajax(settings).done(function (response) {

        res = JSON.parse(response);

        taskId = res['taskId']
        fileName = res['fileName']

        document.getElementById('pepscannerimage').src = "static/images/"+ taskId +"/pepscanner.png";

        console.log(res);

        unique_peptides = document.getElementById('uniquepeptides');
        unique_peptides.innerHTML = "Unique protiens: ".concat(res['unique_peptides']);

        top_protiens = document.getElementById('topprotiens');
        top_protiens.innerHTML = "";

        var sortable = [];
        for (var i in res['top_protiens']) {
            sortable.push([i, res['top_protiens'][i]]);
        }

        sortable.sort(function(a, b) {
            return b[1] - a[1];
        });
        
        for (const [key, value] of sortable) {
            var row = document.createElement("tr");
            
            var cell1 = document.createElement("td");
            cell1.style.width = "25%";
            cell1.innerHTML = key;
            row.appendChild(cell1);

            var cell2 = document.createElement("td");
            cell2.style.width = "25%";
            // cell2.innerHTML = value;
            cell2.innerHTML = "<a href='static/images/"+taskId+"/protienandepeptides/"+fileName + " " +key+".csv'>"+value[0]+"</a>";
            row.appendChild(cell2);


            var cell3 = document.createElement("td");
            cell3.style.width = "25%";
            cell3.innerHTML = value[1];
            // getGeneName(key,data => console.log("The data is:", data));
            row.appendChild(cell3);

            var cell4 = document.createElement("td");
            cell4.style.width = "25%";
            cell4.innerHTML = value[2];
            row.appendChild(cell4);

            top_protiens.append(row);
            
        }

        showSpinner(false);

        });
        return false;
        
    }

  var col_warning = false
	cols = ['Peptide','Accession'];
	colsnotpresent = [];
	var name = '';

    function validatePeptideFile(){
		var peptidefile = document.getElementById('file');

		if(peptidefile.value == ''){
      showSpinner(false);
			alert('Please upload the peptide file.')
            return false;
		}

        // for(i=0;i<sample_files.files.length;i++){

        name = peptidefile.files[0].name;

        if(name.substr(-4)!='.csv'){
            showSpinner(false);
            alert('Cannot accept ' + name + ' file as it is not a csv file.');
            return false;
        }

        let reader = new FileReader();
        reader.readAsText(peptidefile.files[0]);

        reader.onload = function() {

            colseread = reader.result.split('\n')[0].replace('\r','').split(',');



            for (i=0;i<cols.length;i++){

                flag = false;

                for (j=0;j<colseread.length;j++){
                    if(colseread[j] !== cols[i]){
                        continue;
                    }
                    else{
                        flag = true;
                    }
                }

                if(!flag){
                    colsnotpresent.push(cols[i]);
                }

            }
            if(colsnotpresent.length != 0) {
                col_warning = true;
            }
        };

        if (col_warning){
            col_warning=false;
            showSpinner(false);
            alert(name + ' does not contains following column(s): '+ colsnotpresent.join(', '));
            colsnotpresent = [];
            return false;
        }

        // }

        return true;
	}

    peptidewarning = true;

    function validatePeptides(){

      protiens = document.getElementById('proteinList').textContent;

      if(protiens == ''){

              if (peptidewarning){
                  showSpinner(false);
                  alert("Please enter the proteins. By default, top five proteins present in the 'Accession' column will be used to generate the heatmap.")
                  peptidewarning = false;
                  return false;
              }    
              else{
                  return true;
              }
                  
      }

      return true;
	}

    function getGeneName(key) {

      var xhr = new XMLHttpRequest();
      xhr.open("GET", "https://www.uniprot.org/uniprot/"+key+".fasta", false);
      xhr.send();

      for(; xhr.readyState !== 4;)

      if (xhr.status === 200) {

          // console.log('SUCCESS', xhr.responseText);

      } else console.warn('request_error');

      res = xhr.responseText;

      if (res != ''){
        return res.split('\n')[0].match(' GN=(.+?) ')[1];
      }
      else
        return '';   
    }

    function showSpinner(flag=true){
		var nodes = document.getElementById("main-content").getElementsByTagName('*');
		
		if(flag){
			// for(var i = 0; i < nodes.length; i++){
			// 	nodes[i].disabled = true;
			// }

			document.getElementById("main-content").style.opacity = 0.2;
			document.getElementById('lds-hourglass').hidden = false;
		}
		
		else{
			// for(var i = 0; i < nodes.length; i++){
			// 	nodes[i].disabled = false;
			// }

			document.getElementById("main-content").style.opacity = 1;
			document.getElementById('lds-hourglass').hidden = true;
		}
	}

  document.addEventListener('DOMContentLoaded', function() {
    const input = document.getElementById('proteinInput');
    const button = document.getElementById('addProteinBtn');
    const proteinListDiv = document.getElementById('proteinList');
    const validationMessage = document.getElementById('validationMessage');
    const form = document.getElementById('pepscanner');

    const proteinRegex = /^[OPQ][0-9][A-Z0-9]{3}[0-9]|[A-NR-Z][0-9]([A-Z][A-Z0-9]{2}[0-9]){1,2}$/;
    let proteinList = [];

    function validateProtein(protein) {
        return proteinRegex.test(protein);
    }

    function updateProteinList() {
        proteinListDiv.textContent = proteinList.join(', ');
    }

    function addProtein() {
        const protein = input.value.trim().toUpperCase();

        if (validateProtein(protein)) {
            if (!proteinList.includes(protein)) {
                proteinList.push(protein);
                updateProteinList();
                validationMessage.textContent = '';
                input.value = '';
            } else {
                validationMessage.textContent = 'This access ID has already been added';
            }
        } else {
            validationMessage.textContent = 'Not a valid access ID';
        }
    }

    form.addEventListener('submit', function(event) {
        event.preventDefault();
    });

    button.addEventListener('click', function(event) {
        event.preventDefault();
        addProtein();
    });
});

</script>

{% endblock %}
