{% extends "layout.html" %}

{% block content %}
<br>
<h3>Pepsacanner</h3>
<!-- <img src="{{ url_for('pepscanner') }}"> -->
<div class="row" style="text-align: center;">
    <img id="pepscannerimage" src="static/images/blankpepscanner.png" alt="" style="display: inline-block; margin:0 auto; width:auto;">

    

    <!-- <div style="  float:right; width:auto; padding-right: 20%; padding-top: 10%;"> -->
        
        <div class="card" style="width: 18rem; position: relative; margin-right: 40px;">
            <div class="card-body">
              <h5 class="card-title">File metadata</h5>
              <h6 class="card-subtitle mb-2 text-muted">Statistics of protiens found in the Accession column</h6>
              <br>
              <p class="card-text" style="text-align: left;" id="uniquepeptides">Unique protiens: </p>
              <br>
              <p class="card-text" style="text-align: left; font-weight: 600;">Top protiens</p>
              <div id='topprotiens'>

              </div>
            </div>
          </div>
    <!-- </div>  -->

</div>

<form onSubmit="return submitPep();" id="pepscanner" action="{{ url_for('pepscanner') }}" method="post" enctype="multipart/form-data" novalidate>
    <!-- <label for="sample" hidden>Peptide File</label>  -->
    <!-- <input id="file" name="file" required type="file" class="col-md-6 mb-3">	 -->

    <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="file" style="cursor: pointer;" name="file" required type="file">
          <label class="custom-file-label" for="inputGroupFile01" id="filename">Select the peptide File</label>
        </div>
        <i class="fa fa-question-circle" aria-hidden="true" style="cursor: pointer; padding-left: 10px; padding-top: 6px;" data-toggle="tooltip" data-placement="right" title="Please select an input csv file.&#013;The file should contain 'Peptide', 'Accession', 'PTM', 'Mass' and 'm/z' columns."></i>
    </div>

    <!-- <label for="sample" hidden>Peptide File</label> 
	<input id="sample" name="sample-1" required type="file" class="col-md-6 mb-3"> -->

    <div class="input-group mb-3" style="padding-right: 20px;">
        <input type="text" class="form-control" placeholder="Type protiens of interest. e.g. Q96C19, P04818, F8W6I7, A0A0U1RQF0 (optional)" aria-label="Peptides" aria-describedby="basic-addon2" id="peptides">
        <div class="input-group-append">
          <!-- <button class="btn btn-outline-secondary" type="button">Button</button> -->
          <input id="submit" name="submit" type="submit" class="btn btn-outline-secondary" value="Submit">
        </div>
    </div>

    <!-- <input id="submit" name="submit" type="submit" value="Submit"> -->

</form>

<br>

    <p class="text-justify" style="padding-right: 20px;">Pepsacanner is a tool which can be used to visualise the location of peptides present in the protiens of interest. It takes a csv (comma seprated values) file
                                                            as an input along with the protiens of interest (optional). The uploaded file should have 'Peptide', 'Accession', 'PTM', 'Mass' and 'm/z'
                                                            columns present in it. Pepscanner first extracts the protien sequences from a reference proteome file and then plots the location of all the peptides (from the 'Peptide' column)
                                                            on the selected protiens. If the protiens are not selected, top five protiens present in 'Accession' column are selected automatically.

    </p> 

<br>

<script>

    document.getElementById('file').onchange = function () {
        var name = document.getElementById('filename');
        name.innerHTML = 'Selected file: ' + this.files[0].name;
    };

    function submitPep(){

        filevalidation = validatePeptideFile();
        if(filevalidation==false){
			return false;
		}

        peptidevalidation = validatePeptides();
        if(peptidevalidation==false){
			return false;
		}

        var form = new FormData();
        fileInput = document.getElementById('file')
        peptides = document.getElementById('peptides');

        form.append("file", fileInput.files[0], fileInput.value);
        form.append("peptides", peptides.value);
        
        var settings = {
        "url": window.location.origin.concat('/api/pepscanner?t=') + new Date().getTime(),
        "method": "POST",
        "timeout": 0,
        "processData": false,
        "mimeType": "multipart/form-data",
        "contentType": false,
        "data": form
        };

        $.ajax(settings).done(function (response) {
        document.getElementById('pepscannerimage').src = "static/images/pepscanner.png?t=" + new Date().getTime();

        res = JSON.parse(response);

        console.log(res);

        unique_peptides = document.getElementById('uniquepeptides');
        unique_peptides.innerHTML = "Unique protiens: ".concat(res['unique_peptides']);

        top_protiens = document.getElementById('topprotiens');
        top_protiens.innerHTML = "";

        var sortable = [];
        for (var i in res['top_protiens']) {
            sortable.push([i, res['top_protiens'][i]]);
        }

        sortable.sort(function(a, b) {
            return b[1] - a[1];
        });
        
        for (const [key, value] of sortable) {
            var node = document.createElement("div");
            node.style = "text-align: left;";
            node.innerHTML = `${key}: ${value}`;
            top_protiens.appendChild(node);
        }

        });
        return false;
        
    }

    var col_warning = false
	cols = ['Peptide','Accession','PTM', 'Mass', 'm/z'];
	colsnotpresent = [];
	var name = '';

    function validatePeptideFile(){
		var peptidefile = document.getElementById('file');

		if(peptidefile.value == ''){
			alert('Please upload the peptide file.')
            return false;
		}

        // for(i=0;i<sample_files.files.length;i++){

        name = peptidefile.files[0].name;

        if(name.substr(-4)!='.csv'){
            alert('Cannot accept ' + name + ' file as it is not a csv file.');
            return false;
        }

        let reader = new FileReader();
        reader.readAsText(peptidefile.files[0]);

        reader.onload = function() {

            colseread = reader.result.split('\n')[0].replace('\r','').split(',');



            for (i=0;i<cols.length;i++){

                flag = false;

                for (j=0;j<colseread.length;j++){
                    if(colseread[j] !== cols[i]){
                        continue;
                    }
                    else{
                        flag = true;
                    }
                }

                if(!flag){
                    colsnotpresent.push(cols[i]);
                }

                // if (!colseread.includes(cols[i])){
                //     colsnotpresent.push(cols[i]);
                // }
            }
            if(colsnotpresent.length != 0) {
                col_warning = true;
            }
        };

        if (col_warning){
            col_warning=false;
            alert(name + ' does not contains following column(s): '+ colsnotpresent.join(', '));
            colsnotpresent = [];
            return false;
        }

        // }

        return true;
	}

    peptidewarning = true;

    function validatePeptides(){
		var peptides = document.getElementById('peptides');

		if(peptides.value == ''){

            if (peptidewarning){
                alert("Please enter the protiens. Otherwise, top five protiens presnt in the 'Accession' columns will be used to generate the heatmap.")
                peptidewarning = false;
                return false;
            }    
            else{
                return true;
            }
                
		}

        return true;
	}
</script>

{% endblock %}
